// .CardButtons {
//   visibility: hidden;
// }

.card-btns-container {
  width: 100%;
  display: flex;
  margin: 30px 30px;
}

.favorite-btn {
//  transform: translate(5px, 5px);
  color: white;
  font-size: 32px;
  transition: .2s linear;

  &:hover {
    //  transform: translate(5px, 5px);
    transform: scale(1.3);
    transition: .2s linear;
    cursor: pointer;
  }
}

.favorite-selected {
  color: yellow;

  &:hover {
    transform: scale(1.3);
    transition: .2s linear;
    cursor: pointer;
  }
}