.card-btns-container {
  width: 100%;
  display: flex;
  margin: 30px 30px;
}

.favorite-btn {
  font-size: 32px;
  @include svg-hover-effect(white, 1.3);
}

.favorite-selected {
  @include svg-hover-effect(yellow, 1.3);
}