.nav-container {
  width: 100%;
  display: flex;
  padding: 20px 0;
}

.nav-btn {
  border-radius: 4px;
  padding: 10px 20px;
  margin: 0 20px;
  @include btn-hover-effect($memoize-blue, blue);
}

.active-btn {
   @include btn-hover-effect(green, green);
}